<aside class="aside">
	<nav class="nav">
		<ul class="nav__list">
			<li class="nav__item"><a href="index.html" class="nav__link">Обо мне</a></li>
			<li class="nav__item"><a href="work.html" class="nav__link">Мои Работы</a></li>
			<li class="nav__item nav__item--active"><a href="feedback.html" class="nav__link nav__link--active">Обратная связь</a></li>
		</ul>
	</nav>
	<section class="contacts">
		<div class="contacts__title">
			Контакты
		</div>
		<div class="contacts__body">
			<ul class="contacts__list">
				<li class="contacts__item">
					<a href="mailto:kalyawe4ka@gmail.com" class="contacts__link">
						<span class="contacts__icon">
						<span class="ico ico-email"></span>
						</span>
						<span class="contacts__description">
							kalyawe4ka@gmail.com
						</span>
					</a>
				</li>
				<li class="contacts__item">
					<a href="tel:++79069999999" class="contacts__link">
						<span class="contacts__icon">
						<span class="ico ico-telephone"></span>
						</span>
						<span class="contacts__description">
							+79069999999
						</span>
					</a>
				</li>
				<li class="contacts__item">
					<a href="skype:nevil_poker" class="contacts__link">
						<span class="contacts__icon">
						<span class="ico ico-skype"></span>
						</span>
						<span class="contacts__description">
							nevil_poker
						</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
</aside>