<header class="header clearfix">
		<div class="container__wide">
			<div class="logo">
				<a href="index.html" class="logo__link">
					<img class="logo__picture" src="img/logo.png" height="71" width="95" alt="logo">
				</a>
			</div>
			<ul class="social">
				<li class="social__item">
					<a href="https://www.facebook.com" target="_blank" class="social__link"><i class="ico ico-fb"></i></a>
				</li>
				<li class="social__item">
					<a href="https://vk.com/sovpadenie_ne_dumau" target="_blank" class="social__link"><i class="ico ico-vk"></i></a>
				</li>
				<li class="social__item">
					<a href="https://twitter.com/" target="_blank" class="social__link"><i class="ico ico-twitter"></i></a>
				</li>
				<li class="social__item">
					<a href="https://github.com/platonovAlexey" target="_blank" class="social__link"><i class="ico ico-github"></i></a>
				</li>
			</ul>
		</div>
	</header>