<header class="header clearfix">
		<div class="container__wide clearfix">
			<div class="logo">
				<a href="index.html" class="logo__link">
					<img class="logo__picture" src="img/logo.png" alt="logo">
				</a>
			</div>
			<ul class="social">
				<li class="social__item">
					<a href="https://www.facebook.com" target="_blank" class="social__link ico ico-fb">
					facebook</a>
				</li>
				<li class="social__item">
					<a href="https://vk.com/sovpadenie_ne_dumau" target="_blank" class="social__link ico ico-vk">Вконтакте</a>
				</li>
				<li class="social__item">
					<a href="https://twitter.com/" target="_blank" class="social__link ico ico-twitter">Twitter</a>
				</li>
				<li class="social__item">
					<a href="https://github.com/platonovAlexey" target="_blank" class="social__link ico ico-github">Github</a>
				</li>
			</ul>
			<div class="mob__nav">
				<span class="mob__nav__item"></span>
				<span class="mob__nav__item"></span>
				<span class="mob__nav__item"></span>
			</div>

			<nav class="nav nav__header">
				<ul class="nav__list">
					<li class="nav__item"><a href="index.html" class="nav__link">Обо мне</a></li>
					<li class="nav__item"><a href="work.html" class="nav__link">Мои Работы</a></li>
					<li class="nav__item nav__item--active"><a href="feedback.html" class="nav__link nav__link--active">Обратная связь</a></li>
				</ul>
			</nav>

		</div>
	</header>