*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}

ul{

	li{
		list-style: none;

		a{
			text-decoration: none;
		}
	}
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
body,html{
	width: 100%;
	height: 100%;
}

body {
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.layout_center_wrapper{
	position: relative;
	min-height: 100%;
	overflow: hidden;

	/*&:after{
		content: " ";
		display: block;
		height: 61px;
		position: relative;
		background-color: red;
	}*/
}


.header{
	background:#ccc url(/img/header_bg.jpg)repeat;
	min-height: 92px;
	position: relative;
}

.container__wide{
		margin: 0 auto;
		min-width: 300px;
    max-width: 1200px;
}

.logo{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}


.social{
	float: right;
	margin-top: 25px;
	padding-left: 0;
		.social__item{
			float: left;
			margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.container{
	width: 100%;
	margin: 0 auto;
	position: relative;
	min-width: 320px;
	max-width: 960px;
}

.footer{
	min-height: 61px;
	width: 100%;
	position: absolute;
	bottom: 0;
background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
background:#ffffff -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
background:#ffffff -o-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
background:#ffffff -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
background:#ffffff  linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);

	.footer__login_link{
			color:#9c9c9c;
			font-weight: bold;
			font-size: 0.875em;
			line-height: 3.813em;
			text-transform: uppercase;
			text-decoration: none;
			float: left;
			margin-left: 170px;

		}
	.footer__copyright{
		text-align: center;
		font-size: 0.750em;
		line-height: 4.813em;
		font-weight: 300;
	}
}





/*@import "partials/stylesheet.css";
@import "partials/fonts.css";

@import url(partials/app);
@import url(partials/stylesheet);
@import url(partials/fonts);
*/

