$font_size_h2: 1.5em;
$color_h2:#eeedec;
$font_size_article:0.875em;
$color_article:#727070;

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}

.fll{
	float: left;
}

ul{

	li{
		list-style: none;

		a{
			text-decoration: none;
		}
	}
}


.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}
body,html{
	width: 100%;
	height: 100%;
}

body {
	font-family: 'open_sansregular', sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	background: url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	color: $color_article;
}

.layout_center_wrapper{
	/*min-width: 1210px;*/
	width: 100%;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	height: auto !important;

	&:after{
		content: "";
		display: block;
		height: 61px;
	}
}


.header{
	background:#ccc url(/img/header_bg.jpg)repeat;
	min-height: 97px;
	position: relative;
	margin-bottom: 36px;

	&:after{
		height: 7px;
		background-color: #ffffff;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
		width: 100%;
		position: absolute;
		bottom: 0;
	}
}

.container__wide{
	margin: 0 auto;
	position: relative;
	min-width: 300px;
	max-width: 1200px;
	width: 100%;
}

.logo{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	width: 95px;

	.logo__link{
		display: block;

			.logo__picture{
				width: 100%;
				height: auto;
			}
	}
}


.social{
	float: right;
	margin-top: 25px;
	padding-left: 0;
	.social__item{
		float: left;
		margin-right: 10px;
		.social__link{
			text-indent: -999em;
		}

		&:last-child{
			margin-right: 0;
		}
	}
}

.container{
	max-width: 960px;
	min-width: 300px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.main-content{
	margin: 0px 0 30px 0;
	position: relative;
}

.aside{
	float: left;
	max-width: 250px;
	width: 26%;
}

.nav{
	margin-bottom: 35px;
	width: 100%;

	.nav__list{
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0px;

		.nav__item{
			background: -webkit-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
			background: -moz-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
			background: -o-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
			background: -ms-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
			background: linear-gradient(0deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
			background-color: #f0eeed;
			box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
			&:first-child{
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}
			&:last-child{
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}

			&--active{
				background: -webkit-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
				background: -moz-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
				background: -o-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
				background: -ms-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
				background: linear-gradient(0deg, #3eb799 0%, #7ee8ce 100%);
				background-color: #62d3b7;
				box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
				color: #1e7465;
				height: 100%;

				&:hover{
					background: -webkit-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -moz-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -o-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -ms-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: linear-gradient(0deg, #3eb799 0%, #7ee8ce 100%);
					background-color: #62d3b7;
				}
			}

			.nav__link{
				display: block;
				color: #727070;
				font-size: 20px;
				font-family: 'open_sanssemibold';
				text-decoration: none;
				padding: 15px 26px;
				text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.35);
				word-wrap:break-word;


				&:hover{
					background: -webkit-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
					background: -moz-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
					background: -o-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
					background: -ms-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
					background: linear-gradient(0deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
					background-color: #d7d5d5;

					&:first-child{
						border-top-left-radius: 4px;
						border-top-right-radius: 4px;
					}

					&:last-child{
						border-bottom-left-radius: 4px;
						border-bottom-right-radius: 4px;
					}
				}

				&--active:hover{
					background: -webkit-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -moz-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -o-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -ms-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: linear-gradient(0deg, #3eb799 0%, #7ee8ce 100%);
					box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
					background-color: #62d3b7;
					color: #1e7465;
					height: 100%;
				}
			}

			.nav__link--active{
				display: block;
				color: #727070;
				font-size: 20px;
				font-family: 'open_sanssemibold';
				text-decoration: none;
				padding-left: 30px;
				text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.35);
			}
		}
	}
}


.contacts{
	position: relative;
	max-width: 250px;
	margin-bottom: 35px;
	width: 100%;
	overflow: hidden;
	.contacts__title{
		background-image: -webkit-linear-gradient(left, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
		background-image: -webkit-linear-gradient(left, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
		background-image: -o-linear-gradient(left, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
		background-image: linear-gradient(to right, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
		background-image: linear-gradient(to right, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
		background-color: #e9c06f;
		box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 10px 27px;
		font-size: 20px;
		font-family: 'open_sanssemibold';
		color: rgb(208, 152, 44);
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
		word-wrap:break-word;
	}

	.contacts__body{

		.contacts__list{
			margin: 0;
			padding: 0;
			list-style: none;

			.contacts__item{

			&:hover .contacts__link{
			background: #ffffff;
			background-image: -webkit-linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background-image: -o-linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background-image: linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background: -o-linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background: linear-gradient(#ffffff 0%, #f2e7d0 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2e7d0',GradientType=0 );
			text-decoration: underline;
				}

				.contacts__link{
					position: relative;
					display: block;
					min-height: 37px;
					padding: 0px 20px;
					border: 1px solid #D6D5D3;
					border-bottom-width: 0;
					background: #FFFFFF;
					background-image: -moz-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 0.45) 100%);
					background-image: -webkit-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 0.45) 100%);
					background-image: linear-gradient(to bottom, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 0.45) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fbf9f9', endColorstr='#73e9e7e7', GradientType=0);
					box-shadow: inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);

					font-size: 0.875em;
					color: #727070;
					line-height: 37px;
					text-decoration: none;

					.contacts__icon{
						position: absolute;
						float: left;
						width: 29px;
						top: 50%;
						transform: translateY(-50%);
					}

					.contacts__description{
						position: relative;
						display: block;
						margin-left: 52px;

						&:before{
							position: absolute;
							content: ' ';
							display: block;
							background: url('../img/spritesheet.png') no-repeat -113px -7px; /*.ico-contact-arrow*/
							width: 10px;
							height: 38px;
							left: -25px;
							top: 50%;
							transform: translateY(-50%);
  					}
					}
				}
			}
		}
	}
}

		.article{
			position: relative;
			float: left;
			max-width: 652px;
			width: 68%;
			margin-left: 6%;

			.article__section{
				background: #f7f6f5;
				background-image: -webkit-linear-gradient(#f7f6f5 0%, #f0eeed 100%);
				background-image: -o-linear-gradient(#f7f6f5 0%, #f0eeed 100%);
				background-image: linear-gradient(#f7f6f5 0%, #f0eeed 100%);
				background-image: -webkit-linear-gradient(#f7f6f5 0%, #f0eeed 100%);
				background-image: -o-linear-gradient(#f7f6f5 0%, #f0eeed 100%);
				background-image: linear-gradient(#f7f6f5 0%, #f0eeed 100%);
				background: linear-gradient(#f7f6f5 0%, #f0eeed 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f5', endColorstr='#f0eeed',GradientType=0 );
				border-radius: 4px;
				margin-bottom: 38px;
				border: 1px solid #c3c2c2;
				min-height: 300px;

				.article__section__header{
					background: -webkit-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
					background: -moz-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
					background: -o-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
					background: -ms-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
					background: linear-gradient(0deg, #7b7878 0%, #a9a8a8 100%);
					background-color: #8c8989;
					min-height: 55px;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;

					.article__section__header__title{
						margin: 0px;
						padding: 0px;
						font-size: $font_size_h2;
						font-family: 'open_sanssemibold';
						color: $color_h2;
						line-height: 2.3em;
						text-align: left;
						text-shadow: 0px 1px 0px rgba(102, 101, 101, 1);
						margin-left: 42px;
						margin-right: 42px;
					}
				}

				.article__section__content{
					padding: 39px 39px 34px 32px;

						.info{
							position: relative;

								.info__photo{
									float: left;
									width: 162px;

										.info__photo__border{
											display: block;
											padding: 9px;
											margin: 0 auto;
											border: 1px solid #cdcbca;
											border-radius: 50% 50%;

												.info__photo__wrap{
													overflow: hidden;
													width: 142px;
													height: 120px;
													border-radius: 50% 50%;

														.info__photo__picture{
															 display: block;
																max-width: 100%;
																height: auto;
														}
												}
										}
								}

								.info__wrap{
									float: left;
									margin-left: 40px;
									width: 65%;

										.info__list{
											margin: 0;
											padding: 0;
											list-style: none;

												.info__list__item{
													padding: 0;
													margin-bottom: 9px;

													line-height: 1.2;

														.info__list__item__title{
															font-size: .875em;
															font-family: 'open_sanssemibold';
															color: $color_article;
															line-height: 1.2;
															text-align: left;
															margin-right: 9px;
															display: block;
															float: left;
														}

														.info__list__title__child{
															font-size: .875em;
															font-family: 'open_sansregular';
															color: $color_article;
															display: block;
															float: left;

																.skills__list{
																	padding: 0;
																	margin: 0;
																	list-style: none;
																	width: 230px;

																		.skills__list__item{
																			display: inline-block;
																			font-family: 'open_sanssemibold';
																			font-size: 0.563em;
																			margin-bottom: 5px;
																			color: #1e7465;
																			text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
																			text-transform: uppercase;
																			background-image: url('../img/skills_center.png');
																			background-repeat: repeat-x;
																			height: 21px;
																			margin-right: 11px;
																			margin-left: 11px;
																			cursor: pointer;


																			&:before{
																			content: '';
																			background-image: url('../img/skills_left.png');
																			min-height: 19px;
																			min-width: 10px;
																			display: inline-block;
																			padding: 0px;
																			vertical-align: middle;
																			right: 8px;
																			position: relative;
																			}

																			&:after{
																			content: '';
																			background-image: url('../img/skills_right.png');
																			min-height: 19px;
																			min-width: 4px;
																			display: inline-block;
																			padding: 0px;
																			vertical-align: middle;
																			left: 4px;
																			position: relative;
																			}
																		}
																}
														}
												}
										}
								}
						}
				}
			}
		}

		.exp__block{
			position: relative;
			margin-bottom: 45px;

			&:after{
				content: '';
				box-shadow: inset 0px 2px 1px 0px rgba(128, 128, 128, 0.29);
				height: 1px;
				display: block;
				width: 100%;
				position: relative;
				top: 20px;
			}

			&:last-child:after{
				box-shadow:none;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}

		.exp__block__content{
			float: left;
			margin-top: 5px;
			width: 80%;

			.exp__block__content__title{
				margin: 0px;
				padding: 0px;
				font-size: 14px;
				font-family: 'open_sanssemibold';
				color: $color_article;
				line-height: 1.5;
				text-align: left;
				font-weight: bolder;

			}

			.exp__block__content__item{
				margin: 0px;
				padding: 0px;
				font-size: 14px;
				font-family: 'open_sansregular';
				color: $color_article;
				line-height: 1.5;
				text-align: left;
			}
		}


		.footer{
			background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
			background:#ffffff -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
			background:#ffffff -o-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
			background:#ffffff -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
			background:#ffffff  linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
			background-color: #f7f7f7;
			box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
			position: relative;
			height: 61px;
			margin-top: -61px;
			width: 100%;
			background-color: #FFF;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0fffffff', endColorstr='#0f000000', GradientType=0);
			box-shadow: 0 -1px 0 0 rgba(0,0,0,.1);

			.copyright{
				margin: 0;
				font-size: 12px;
				font-family: 'open_sanslight';
				color: $color_article;
				line-height: 4.5;
				vertical-align: middle;			text-align: left;

				.link__panel{
					text-decoration: none;
					float: left;
					margin-right: 60px;

					.login__panel{
						font-size: 12px;
						font-family: 'open_sansbold';
						color: #9c9c9c;
						text-transform: uppercase;
						font-weight: bold;
						display: inline;
						margin-left: 167px;
						text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);
					}

					.sprite__login{

						&:before{
							content: "";
							background-image: url('../img/sprite_login.png');
							background-repeat: no-repeat;
							display: inline-block;
							width: 29px;
							height: 21px;
							background-position: -5px -5px;
							vertical-align: middle;
						}

						&:hover:before{
							content: "";
							background-image: url('../img/sprite_login.png');
							background-repeat: no-repeat;
							display: inline-block;
							width: 29px;
							height: 21px;
							background-position: -33px -5px;
							vertical-align: middle;
						}
					}
				}
			}
		}

/*Work page*/
.work__wrapper{
	position: relative;
	padding-left: 10px;

	.work__item{
		position: relative;
		min-height: 200px;
		border:1px solid #9f9f9f;
		border-radius: 5px;
		margin-bottom: 46px;
		max-width: 164px;
		width: 28.888888888%;
		display: -moz-inline-stack;
		display: inline-block;
		min-height: 140px;
		vertical-align: text-top;
		overflow: hidden;
		zoom: 1;

		&:hover{
			cursor: pointer;

			.caption{
				top: 0px;
			}
		}

		&:nth-last-child(3n+2){
			margin-left: 31px;
			margin-right: 31px;
		}

		&:nth-last-child(3n){
			margin-right: 0;
		}

		.caption{
			position: absolute;
			top: -100%;
			left: 0px;
			background: rgba(0,0,0,0.7);
			width: 100%;
			height: 100%;
			color: #fff;
			-o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
			-moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
			-webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
			-ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
			transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;

			.work__item__link__hover{
				width: 120px;
				text-align: center;
				display: block;
				color: #fff;
				padding: 10px 0;
				border-radius: 5px;
				position: absolute;
				top: 40%;
				left: 12%;
				border: 1px solid #fff;
				border-radius: 3px;
				text-decoration: none;
				margin-top: -0.625em;

				&:hover{
					background-color: #fff;
					color:#000;
				}
			}
		}

		.work__item__picture{
			min-height: 121px;
			width: 100%;
			vertical-align: middle;
		}

		.work__item__title{
			font-family: 'open_sanssemibold';
			color: $color_article;
			font-size: 0.813em;
			line-height: 2em;
			background-color: #f2f2f2;
			text-align: center;
			text-shadow:0px 1px 0px rgba(255, 255, 255, 0.75);
			text-decoration: none;
			padding: 0;
			margin: 0;
		}

		.work__item__text{
			font-family: 'open_sanslight',sans-serif;
			color: $color_article;
			font-size: 0.750em;
			line-height: 1.2em;
			text-align: center;
			padding: 0;
			margin: 10px 5px;
		}

	}
}

.work__add{
	border-radius: 5px;
	border-color:  #b6b6b6;
	background: -webkit-linear-gradient(90deg, #edebea 0%, #fbf9f9 94%, #ffffff 100%);
	background: -moz-linear-gradient(90deg, #edebea 0%, #fbf9f9 94%, #ffffff 100%);
	background: -o-linear-gradient(90deg, #edebea 0%, #fbf9f9 94%, #ffffff 100%);
	background: -ms-linear-gradient(90deg, #edebea 0%, #fbf9f9 94%, #ffffff 100%);
	background: linear-gradient(0deg, #edebea 0%, #fbf9f9 94%, #ffffff 100%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07);
	.work__add__link{
		font-size: 14px;
		font-family: 'open_sanssemibold';
		color: rgb(114, 112, 112);
		line-height: 1.571;
		text-align: center;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
		text-decoration: none;
		width: 100%;
		padding-top: 24px;
		min-height: 120px;
		display: block;

		&:hover{
			border-radius: 5px;
			background: -webkit-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
			background: -moz-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
			background: -o-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
			background: -ms-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
			background: linear-gradient(0deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
			background-color: #d1cfcf;

			.icon__work__add{
				border-radius: 50%;
				background-color: rgb(191, 191, 191);
				box-shadow: inset 2.3px 0.866px 0px 0px rgba(199, 199, 199, 0.75);
			}
		}

		.icon__circle{
			width: 53px;
			height: 54px;
			position: relative;
			display: inline-block;
			border-radius: 50%;
			box-shadow: inset 1.3px 0.866px 0px 0px rgba(199, 199, 199, 0.75);
			background-color: #f7f7f7;
			width: 53px;
			height: 54px;

			&:after{
				content: "";
				display: block;
				width: 21px;
				height: 21px;
				background-image: url(../img/polaroid.png);
				position: relative;
				top: 18px;
				left: 17px;
			}
		}

		.icon__work__add{

			&:after{

			}
		}

		.work__item__text{
			margin: 9px 0px 0px 0px;
			padding: 0px;
			font-size: 14px;
			font-family: 'open_sanssemibold',sans-serif;
			color: $color_article;
			line-height: 22px;
			text-align: center;
			padding: 0;
		}
	}
}


/*Feedback page*/
.feedback__wrap{
	padding: 0 80px;

	label{
		display: block;
	}

	.feedback__name, .feedback__email{
		float: left;
		width: 190px;
		max-width: 46%;
		margin-right: 20px;
		margin-bottom: 15px;

		.feedback__name__label, .feedback__email__label{
			@extend .feedback__label;
		}
		input.feedback__name__input, input.feedback__email__input{
			@extend .feedback__input;

			&::-webkit-input-placeholder {
				@extend .feedback__input__placeholder;
			}

			&:focus{
				outline: 1px solid #80e8cb;
			}
		}
	}

	.feedback__email{
		margin-right: 0;
	}

	.feedback__textarea__wrap{
		float: left;
		width: 100%;
		margin-bottom: 20px;

		.feedback__textarea__label{
			@extend .feedback__label;
		}

		.feedback__textarea{
			max-width: 100%;
			width: 400px;
			height: 100%;
			max-height: 180px;
			padding-top: 15px;
			padding-left: 10px;
			color:#727070;
			font-size: 14px;
			border-style: solid;
			border-width: 1px;
			border-color:  #d6d5d3;
			box-sizing: border-box;
			background-color:  #fbfcfd;
			background: -webkit-linear-gradient(90deg, #fbfcfd 0%, #f5f5f5 100%);
			background: -moz-linear-gradient(90deg, #fbfcfd 0%, #f5f5f5 100%);
			background: -o-linear-gradient(90deg, #fbfcfd 0%, #f5f5f5 100%);
			background: -ms-linear-gradient(90deg, #fbfcfd 0%, #f5f5f5 100%);
			background: linear-gradient(0deg, #fbfcfd 0%, #f5f5f5 100%);
			box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 2px 0px 2px (rgba(255, 255, 255, .5));
			border-radius: 3px;
			resize:none;

			&:focus{
				outline: 1px solid #80e8cb;
			}

			&::-webkit-input-placeholder {
				@extend .feedback__input__placeholder;
			}
		}
	}

	.feedback__captcha__wrap{
		float: left;
		width: 100%;
		margin-bottom: 32px;

		.feedback__captcha__label{
			@extend .feedback__label;
		}

		.captcha__block{
			width: 190px;
			height: 80px;
			border-style: solid;
			border-width: 1px;
			border-color:  #d6d5d3;
			box-sizing: border-box;
			background-color:  #fbfcfd;
			background: -webkit-linear-gradient(90deg, #fbfcfd 0%, #f5f5f5 100%);
			background: -moz-linear-gradient(90deg, #fbfcfd 0%, #f5f5f5 100%);
			background: -o-linear-gradient(90deg, #fbfcfd 0%, #f5f5f5 100%);
			background: -ms-linear-gradient(90deg, #fbfcfd 0%, #f5f5f5 100%);
			background: linear-gradient(0deg, #fbfcfd 0%, #f5f5f5 100%);
			box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 2px 0px 2px (rgba(255, 255, 255, .5));
			border-radius: 3px;
			float: left;
			margin-right: 18px;
		}

		input.feedback__captcha__input{
			float: left;
			min-height: 34px !important;
			line-height: 34px !important;
			margin-top: 20px;
			@extend .feedback__input;

			&::-webkit-input-placeholder {
				@extend .feedback__input__placeholder;
			}

			&:focus{
				outline: 1px solid #80e8cb;
			}
		}
	}

	.feedback__buttons{
		float: left;
		width: 100%;
		margin-bottom: 50px;
		text-align: center;

			.feedback__block__send{
				float: left;
				padding-right: 10px;
				width: 50%;
				box-sizing: border-box;

				.feedback__buttons__send{
					display: inline-block;
					border-radius: 5px;
					border-style: solid;
					border-width: 1px;
					border-color:  #5fdcbd;
					background-color: #5fdcbd;
					background: -webkit-linear-gradient(90deg, #43b796 0%, #80e8cb 100%);
					background: -moz-linear-gradient(90deg, #43b796 0%, #80e8cb 100%);
					background: -o-linear-gradient(90deg, #43b796 0%, #80e8cb 100%);
					background: -ms-linear-gradient(90deg, #43b796 0%, #80e8cb 100%);
					background: linear-gradient(0deg, #43b796 0%, #80e8cb 100%);
					box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
					font-family: 'open_sanssemibold', sans-serif;
					color:  #1e7465;
					font-size: 14px;
					font-weight: 600;
					line-height: 22px;
					text-align: left;
					text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
					text-align: center;
					max-width: 100%;
					min-height: 37px;
					padding: 7px 22px;
					word-wrap:break-word;

				&:hover{
					border-radius: 5px;
					background-color: #3aa087;
					background: -webkit-linear-gradient(90deg, #3aa087 0%, #5fdcbd 100%);
					background: -moz-linear-gradient(90deg, #3aa087 0%, #5fdcbd 100%);
					background: -o-linear-gradient(90deg, #3aa087 0%, #5fdcbd 100%);
					background: -ms-linear-gradient(90deg, #3aa087 0%, #5fdcbd 100%);
					background: linear-gradient(0deg, #3aa087 0%, #5fdcbd 100%);
				}

				&:active{
					outline: none;
				}

				&:focus{
					outline: none;

				}
			}
		}

			.feedback__block__reset{
				float: left;
				width: 50%;
				padding-left: 10px;
				box-sizing: border-box;


				.feedback__buttons__clean{
					display: inline-block;
					border-radius: 5px;
					border-style: solid;
					border-width: 1px;
					border-color:  #c3c2c2;
					background: -webkit-linear-gradient(90deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
					background: -moz-linear-gradient(90deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
					background: -o-linear-gradient(90deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
					background: -ms-linear-gradient(90deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
					background: linear-gradient(0deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
					box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07);
					font-family: 'open_sanssemibold', sans-serif;
					color:  #727070;
					font-size: 14px;
					font-weight: 600;
					line-height: 22px;
					text-align: left;
					text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
					text-align: center;
					max-width: 100%;
					min-height: 37px;
					word-wrap:break-word;
					padding: 7px 22px;

					&:hover{
						border-radius: 5px;
						background: -webkit-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
						background: -moz-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
						background: -o-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
						background: -ms-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
						background: linear-gradient(0deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
						background-color: #c2c0c0;
					}

					&:active{
						outline: none;
					}

					&:focus{
						outline: none;

					}
				}
			}

	}
}

.mob__nav{
	display: none;
}

.nav__header{
	display: none;
}

.contacts__list__mobile,.social_footer{
	display: none;
}

/*Media requests*/

@media screen and (max-width: 980px){
	.logo{
		margin-left: 40px;
	}

	.social{
		padding-right: 100px;
	}

	.mob__nav{
		display: block;
		position: absolute;
		top: 29px;
		right: 40px;
		width: 25px;
		height: 21px;
		cursor: pointer;
		z-index: 5;

			.mob__nav__item{
				display: block;
				width: 100%;
				height: 5px;
				margin-top: 4px;
				background-color: #FFF;
				border-radius: 25px;
			}
	}

	.nav{
		display: none;
	}

	.aside{
		display: none;
	}

	.nav__header{
		display: none;
		position: absolute;
		width: 25.65104166666667%;
		float: right;
		margin: 0px;
		padding: 0px;
		right: 1.692708333333333%;
		top: 84px;
		z-index: 10;

		&:before{
			content: "";
			display: inline-block;
			background-image: url('../img/nav_header_arr.png');
			width: 34px;
			height: 17px;
			/*background-size: cover;*/
			margin: 0px;
			padding: 0px;
			position: absolute;
			top: -17px;
			right: 8%;
		}
	}

	.show__nav__header{
		display: block;
	}

	.main-content{
		margin: 0;
	}

	.article{
		float: none;
		margin: 0 auto;
		width: 100%;
		max-width: 100%;

			.article__section{
				width: 90%;
				margin: 0 auto 25px auto;
			}
	}


	.contacts__list, .contacts{
		display: none;
	}

	.contacts__list__mobile{
		display: block;
		width: 90%;
		margin: 0 auto 25px auto;
		padding: 0;

			.contacts__item{
				display: block;
				width: 33.33333333%;
				float: left;


			&:hover .contacts__link{
			background: #ffffff;
			background-image: -webkit-linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background-image: -o-linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background-image: linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background: -o-linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background: linear-gradient(#ffffff 0%, #f2e7d0 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2e7d0',GradientType=0 );
			text-decoration: underline;
				}

				.contacts__link{
					position: relative;
					display: block;
					min-height: 37px;
					padding: 0px 20px;
					border: 1px solid #D6D5D3;
					border-bottom-width: 0;
					background: #FFFFFF;
					background-image: -moz-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 0.45) 100%);
					background-image: -webkit-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 0.45) 100%);
					background-image: linear-gradient(to bottom, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 0.45) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fbf9f9', endColorstr='#73e9e7e7', GradientType=0);
					box-shadow: inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);

					font-size: 0.875em;
					color: #727070;
					line-height: 37px;
					text-decoration: none;

					.contacts__icon{
						position: absolute;
						float: left;
						width: 29px;
						top: 50%;
						transform: translateY(-50%);
					}

					.contacts__description{
						position: relative;
						display: block;
						margin-left: 52px;

						&:before{
							position: absolute;
							content: ' ';
							display: block;
							background: url('../img/spritesheet.png') no-repeat -113px -7px; /*.ico-contact-arrow*/
							width: 10px;
							height: 38px;
							left: -25px;
							top: 50%;
							transform: translateY(-50%);
  					}
					}
				}
			}
	}

	.work__wrapper{
		text-align: center;
	}

	.work__wrapper .work__item:nth-last-child(3n+2){
		margin-left: 10% !important;
		margin-right: 10% !important;
	}

	.work__wrapper .work__item{
		margin-left: 10% !important;
		margin-right: 10% !important;
	}

	.feedback__wrap{
		padding: 0;
	}

	.feedback__wrap .feedback__email, .feedback__wrap .feedback__name{
		float: none;
		width: 100%;
		max-width: 100%;
	}

	.feedback__input, .feedback__wrap .feedback__captcha__wrap input.feedback__captcha__input, .feedback__wrap .feedback__email input.feedback__email__input, .feedback__wrap .feedback__email input.feedback__name__input, .feedback__wrap .feedback__name input.feedback__email__input, .feedback__wrap .feedback__name input.feedback__name__input{
		width: 100% !important;
		max-width: 100%;
	}

	.feedback__wrap .feedback__captcha__wrap .captcha__block{
		margin: 0 auto;
	}

	.feedback__wrap .feedback__textarea__wrap .feedback__textarea{
		width: 100%;
	}
}

@media screen and (max-width: 760px){
	.info__photo{
		float: none !important;
		margin: 0 auto 25px;
	}

	.info__wrap{
		float: none !important;
		margin-left: 0 !important;
		width: 100% !important;
	}

	.skills__list{
		width: 100% !important;
	}

	.info__list__item__title{
		font-size: 1em !important;
		color:#737171 !important;
	}

	.contacts__list__mobile{

			.contacts__item{
				width: 100%;
				float: none;
			}
	}

	.footer .copyright .link__panel{
		margin-right: 40px;
	}

	.footer .copyright .link__panel .login__panel{
		margin-left: 40px;
	}

	.work__wrapper .work__item{
		width: 100%;
	}

		.nav__header{
		width: 96%;

		&:before{
			right: 5%;
		}
	}


}

@media screen and (max-width: 650px){

	.main-content{
		margin: 0 20px;
	}

	.article .article__section .article__section__content .info .info__wrap .info__list .info__list__item .info__list__title__child .skills__list{
		margin-top: 10px;
	}

	.article .article__section .article__section__content .info .info__wrap .info__list .info__list__item .info__list__title__child,.exp__block__content .exp__block__content__title{
		font-size: 1em;
		color:#737171;
	}

	.exp__block__content .exp__block__content__title,.exp__block__content .exp__block__content__item{
		text-align: center;
	}


	.exp__block__content{
		float: none;
		margin: 10px auto 0 auto;
	}

	.ico-case, .ico-diploma, .ico-graguete, .ico-school{
		float: none;
		margin: 0 auto;
	}

	.footer .copyright .link__panel{
		line-height: 5;
	}

	.footer .copyright{
		line-height: 7.5;
		font-size: 8px;
	}

	.social{
		display: none;
	}

	.social_footer{
		display: block;
		margin: 20px auto;
		width: 90%;

			.social_footer__list{
				padding: 0;
				margin: 0;
				text-align: center;

					.social_footer__item{
						display: inline-block;

							.social_footer__link{
								margin-right: 30px;
								margin-bottom: 10px;

							}
					}
			}
	}

	.contacts__list__mobile .contacts__item .contacts__link .contacts__description{
		font-size: 1.5em;
		color:#737171;
	}


}

@media screen and (max-width: 480px){
	.footer .copyright .link__panel{
		margin-right: 25px;
	}

	.work__wrapper{
		text-align: center;
	}

	.work__wrapper .work__item:nth-last-child(3n+2){
		margin-left: 10% !important;
		margin-right: 10% !important;
	}

	.work__wrapper .work__item{
		margin-left: 10% !important;
		margin-right: 10% !important;
	}

	.nav__header:before{
		right: 7%;
	}
}

@media (min-width: 310px) and (max-width: 440px){
	.article .article__section .article__section__content{
		padding: 39px 10px 34px 10px;
	}

	.main-content{
		margin: 0;
	}

	.article .article__section, .contacts__list__mobile{
		width: 99%;
	}

	.social_footer .social_footer__list .social_footer__item .social_footer__link{
		margin-right: 5px !important;
	}

	.footer .copyright .link__panel .login__panel{
		margin-left: 5px;
	}

	.footer .copyright .link__panel{
		margin-right: 0;
	}
}

/*@extend*/
.feedback__label{
	font-family: 'open_sansregular', sans-serif;
	font-size: 0.875em;
	color: $color_article;
	margin-bottom: 8px;
}

.feedback__input{
	border-style: solid;
	border-width: 1px;
	border-color:  #d6d5d3;
	box-sizing: border-box;
	background-color:  #fbfcfd;
	background: -webkit-linear-gradient(bottom, #fbfcfd 0%, #f5f5f5 100%);
	background: -o-linear-gradient(bottom, #fbfcfd 0%, #f5f5f5 100%);
	background: linear-gradient(to top, #fbfcfd 0%, #f5f5f5 100%);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 2px 0px 2px (rgba(255, 255, 255, .5));
	padding-left: 10px;
	border-radius: 3px;
	color:#727070;
	font-size: 14px;
	width: 192px;
	max-width: 100%;
	min-height: 41px;
	line-height: 37px;
}

.feedback__input__placeholder{
	color:#c7c6c6;
	font-family: 'open_sanslight', sans-serif;
	font-size: 12px;
}



/*@import "partials/stylesheet.css";
@import "partials/fonts.css";

@import url(partials/app);
@import url(partials/stylesheet);
@import url(partials/fonts);
*/

