$font_size_h2: 1.5em;
$color_h2:#eeedec;
$font_size_article:0.875em;
$color_article:#727070;

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}

.fll{
	float: left;
}

ul{

	li{
		list-style: none;

		a{
			text-decoration: none;
		}
	}
}


.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
body,html{
	width: 100%;
	height: 100%;
}

body {
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	background: url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.layout_center_wrapper{
	position: relative;
	min-height: 100%;
	overflow: hidden;
}


.header{
	background:#ccc url(/img/header_bg.jpg)repeat;
	min-height: 97px;
	position: relative;

		&:after{
			height: 7px;
			background-color: #ffffff;
			box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
			width: 100%;
			position: absolute;
			bottom: 0;
		}
}

.container__wide{
		margin: 0 auto;
		min-width: 300px;
    max-width: 1200px;
}

.logo{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}


.social{
	float: right;
	margin-top: 25px;
	padding-left: 0;
		.social__item{
			float: left;
			margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.container{
	width: 100%;
	margin: 0 auto;
	position: relative;
	min-width: 320px;
	max-width: 960px;
}

.main-content{
	margin: 36px 0 60px 0;
	position: relative;
}

.navigation{
	float: left;
	max-width: 250px;
	width: 26%;
	margin-right: 6%;
}

.nav{
	margin-bottom: 35px;
	width: 100%;

		.nav__list{
			padding-left: 0;
			margin-top: 0;
			margin-bottom: 0px;

			.nav__item{
				background: -webkit-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
				background: -moz-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
				background: -o-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
				background: -ms-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
				background: linear-gradient(0deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
				box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
				line-height: 53px;
			&:first-child{
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}
			&--active{
				background: -webkit-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
				background: -moz-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
				background: -o-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
				background: -ms-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
				background: linear-gradient(0deg, #3eb799 0%, #7ee8ce 100%);
				box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
				color: #1e7465;
				height: 100%;

				&:hover{
					background: -webkit-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -moz-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -o-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -ms-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: linear-gradient(0deg, #3eb799 0%, #7ee8ce 100%);
					}
			}

				.nav__link{
					display: block;
					color: #727070;
					font-size: 20px;
					font-family: "OpenSans-Semibold";
					text-decoration: none;
					padding-left: 11.11111111111111%;
					text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
					min-height: 56px;

				&:hover{
				background: -webkit-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
				background: -moz-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
				background: -o-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
				background: -ms-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
				background: linear-gradient(0deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
				}

				&--active:hover{
					background: -webkit-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -moz-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -o-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: -ms-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
					background: linear-gradient(0deg, #3eb799 0%, #7ee8ce 100%);
					box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
					color: #1e7465;
					height: 100%;
				}
			}

				.nav__link--active{
					display: block;
					color: #727070;
					font-size: 20px;
					font-family: "OpenSans-Semibold";
					text-decoration: none;
					padding-left: 11.11111111111111%;
					text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
					min-height: 56px;
				}
			}
	}
}


.contacts{
	position: relative;
	max-width: 250px;
	width: 100%;
	overflow: hidden;
		.contacts__title{
		background-image: -webkit-linear-gradient(left, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
		background-image: -webkit-linear-gradient(left, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
		background-image: -o-linear-gradient(left, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
		background-image: linear-gradient(to right, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
		background-image: linear-gradient(to right, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
		box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
		min-height: 45px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		line-height: 45px;
		padding-left: 28px;
		font-size: 20px;
		font-family: "OpenSans-Semibold";
		color: rgb(208, 152, 44);
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
		padding-right: 10px;
}

		.contacts__item{
			border-style: solid;
			border-width: 1px;
			border-color: rgb(214, 213, 211);
			background-color: #f2f0ef;
			box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
			height: 36px;
			white-space: nowrap;
			position: relative;

			&:hover{
			background: #ffffff;
			background-image: -webkit-linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background-image: -o-linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background-image: linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background: -o-linear-gradient(#ffffff 0%, #f2e7d0 100%);
			background: linear-gradient(#ffffff 0%, #f2e7d0 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2e7d0',GradientType=0 );
			}

			&:before{
				content: " ";
				background-image: url("../img/arr-orange.png");
				width: 10px;
				height: 38px;
				margin-left: 48px;
				display: inline-block;
			}

				.contacts__item--icon{
					display: inline-block;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					margin: auto 20px;
					margin-right: 0px;
				}

				.contacts__item__link{
					font-size: 14px;
					font-family: "Open Sans";
					color: #727070;
					line-height: 2.4;
					text-align: left;
					text-decoration: none;
					margin-left: 0px;
					white-space: nowrap;
					text-overflow: ellipsis;
					display: inline-block;
					overflow: hidden;
					padding-right: 10px;
					padding-left: 15px;
					height: 100%;

					&:hover{
						text-decoration: underline;
					}
				}
		}
}

.article{
	position: relative;
	float: left;
	max-width: 652px;
	width: 68%;

		.article__section{
			background: #f7f6f5;
			background-image: -webkit-linear-gradient(#f7f6f5 0%, #f0eeed 100%);
			background-image: -o-linear-gradient(#f7f6f5 0%, #f0eeed 100%);
			background-image: linear-gradient(#f7f6f5 0%, #f0eeed 100%);
			background-image: -webkit-linear-gradient(#f7f6f5 0%, #f0eeed 100%);
			background-image: -o-linear-gradient(#f7f6f5 0%, #f0eeed 100%);
			background-image: linear-gradient(#f7f6f5 0%, #f0eeed 100%);
			background: linear-gradient(#f7f6f5 0%, #f0eeed 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f5', endColorstr='#f0eeed',GradientType=0 );
			border-radius: 4px;
			margin-bottom: 38px;
			border: 1px solid #c3c2c2;
			min-height: 300px;

			.article__section__header{
				background: -webkit-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
				background: -moz-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
				background: -o-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
				background: -ms-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
				background: linear-gradient(0deg, #7b7878 0%, #a9a8a8 100%);
				min-height: 55px;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;

					.article__section__header__title{
						margin: 0px;
						padding: 0px;
						font-size: $font_size_h2;
						font-family: "OpenSans-Semibold";
						color: $color_h2;
						line-height: 2em;
						text-align: left;
						text-shadow: 0px 1px 0px rgba(102, 101, 101, 1);
						margin-left: 42px;
					}
			}

			.article__section__content{
				padding: 39px 39px 34px 32px;

					.article__section__content__photo{
						float: left;
						margin-right: 35px;
						width: 30%;

							.article__section__content__photo__picture{
								width: 130px;
								height: 130px;
								border-radius: 50%;
								border: 10px solid #f6f5f4;
								-webkit-box-shadow: 0px 0px 0px 1px rgba(220,219,218,1);
								-moz-box-shadow: 0px 0px 0px 1px rgba(220,219,218,1);
								box-shadow: 0px 0px 0px 1px rgba(220,219,218,1);
							}
					}

					.article__section__content__info{
						float: left;
						width: 63%;

						.content__info__block{
							margin-bottom: 3px;

							&:last-child{
								margin-top: 21px;
								margin-bottom: 40px;
							}

								.info__block__title{
									font-size: $font_size_article;
									font-family: "OpenSans-Semibold";
									color: $color_article;
									line-height: 1.2;
									text-align: left;
									margin-right: 9px;

									&--last{
										display: block;

									}
								}
								.info__block__item{
									font-size: $font_size_article;
									font-family: 'OpenSans-Regular';
									color: $color_article;

								}

								.skills{
									position: relative;
										.skills__item{
											display: inline-block;
											font-family: "OpenSans-Semibold";
											font-size: 0.563em;
											margin-bottom: 5px;
											color: #1e7465;
											text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
											text-transform: uppercase;
											background-image: url('../img/skills_center.png');
											background-repeat: repeat-x;
											height: 21px;
											margin-right: 11px;
											margin-left: 11px;
											cursor: pointer;
											float: left;

											&:first-child{
												margin-left: 10px;
											}

											&:last-child{
												margin-right: 0;
											}

											&:before{
												content: '';
												background-image: url('../img/skills_left.png');
												min-height: 19px;
												min-width: 10px;
												display: inline-block;
												padding: 0px;
												vertical-align: middle;
												right: 8px;
												position: relative;
											}

											&:after{
												content: '';
												background-image: url('../img/skills_right.png');
												min-height: 19px;
												min-width: 4px;
												display: inline-block;
												padding: 0px;
												vertical-align: middle;
												left: 4px;
												position: relative;
											}
										}
								}

						}

					}
				}
			}
}

.exp__block{
	position: relative;
	margin-bottom: 45px;

	&:after{
		content: '';
		box-shadow: inset 0px 2px 1px 0px rgba(128, 128, 128, 0.29);
		height: 1px;
		display: block;
		width: 100%;
		position: relative;
		top: 20px;
	}

	&:last-child:after{
		box-shadow:none;
	}

	&:last-child{
		margin-bottom: 0;
	}
}

.exp__block__content{
	float: left;
	margin-top: 5px;
	width: 80%;

		.exp__block__content__title{
			margin: 0px;
			padding: 0px;
			font-size: 14px;
			font-family: "OpenSans-Semibold";
			color: $color_article;
			line-height: 1.5;
			text-align: left;
			font-weight: bolder;

		}

		.exp__block__content__item{
			margin: 0px;
			padding: 0px;
			font-size: 14px;
			font-family: "Open Sans";
			color: $color_article;
			line-height: 1.5;
			text-align: left;
		}
}


.footer{
	min-height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background:#ffffff -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background:#ffffff -o-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background:#ffffff -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background:#ffffff  linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);

		.copyright{
			margin: 0;
			font-size: 12px;
			font-family: 'OpenSans-Light';
			color: $color_article;
			line-height: 4.5;
			vertical-align: middle;			text-align: left;

				.link__panel{
					text-decoration: none;
					float: left;
					margin-right: 60px;

						.login__panel{
							font-size: 12px;
							font-family: 'OpenSans-Bold';
							color: #9c9c9c;
							text-transform: uppercase;
							font-weight: bold;
							display: inline;
							margin-left: 167px;
							text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);
						}

						.sprite__login{

							&:before{
								content: "";
								background-image: url('../img/sprite_login.png');
								background-repeat: no-repeat;
								display: inline-block;
								width: 29px;
								height: 21px;
								background-position: -5px -5px;
								vertical-align: middle;
							}

							&:hover:before{
								content: "";
								background-image: url('../img/sprite_login.png');
								background-repeat: no-repeat;
								display: inline-block;
								width: 29px;
								height: 21px;
								background-position: -33px -5px;
								vertical-align: middle;
							}
						}
				}
		}
}



/*@import "partials/stylesheet.css";
@import "partials/fonts.css";

@import url(partials/app);
@import url(partials/stylesheet);
@import url(partials/fonts);
*/

